{% extends "layout.html" %}

{% block main %}
<br><br><br>
<div class="container inputSection">
    <div class="row">
        <div class="col">
            <div class="text">
                <h3>Pasos pa usar</h3>
                <p>Escribir datos separados por espacios</p>
                <p>Solo numeros enteros o reales</p>
            </div>
        </div>
        <div class="col">
            <form action="/" method="post">
                <div class="main">
                    <ul class="cards">
                      <li class="cards_item">
                        <div class="card">
                          <div class="card_image">
                            <textarea name="datos" id="txt" cols="30" rows="8" placeholder="Escribe aqui"></textarea>
                            <button type="submit" class="btn btn-success bt">Enviar</button>
                          </div>
                        </div>
                      </li>
                    </ul>
                </div>
                
            </form>
        </div>
    </div>
</div>
{% endblock %}